/* Global Font Family */

* {
  font-family: "Inter", sans-serif;
}

.main-container {
  max-width: $app-max-width;
  margin: auto;
}

/* Screen Backgrounds */

html,
body,
#__next,
#__layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
}

header.app-header {
  background: url('/images/section-background.webp');
  object-fit: cover;
  z-index: 9999;
  background-repeat: round;
  background-size: cover;
  animation: adjust-header linear both;
  animation-timeline: scroll();
  animation-range: 0 200px;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main {
  flex: 1;
}

footer {
  background-color: #f4f4f4;
  width: 100%;
}

.global-mask {
  background: linear-gradient(100.6deg, rgba(192, 192, 192, 0) 20.79%, rgba(192, 192, 192, 0.26) 40.92%, rgba(192, 192, 192, 0) 70.35%);
}

.global-mask::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #f8f9f9;
}

/* Tool bar */
::-webkit-scrollbar {
  width: 0.4em;
  border-radius: 0.3em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  border-radius: 0.3em;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 0.3em;
}

/* Global Hover transition */
.hover-transition {
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  outline: 0 solid rgba(0, 72, 255, 0.071);

  &:hover {
      outline: 8px solid rgba(0, 72, 255, 0.071);
      transition: 0.1s;
  }
}
